<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/layout.html :: head"></head>

<body>
    <header th:replace="layouts/layout.html :: header"></header>

    <div class="container">
        <form th:action="@{/characters}" class="form-group mx-auto w-50 mb-4">
            <div class="input-group">
                <input name="busqueda" type="text" placeholder="Buscar por Nombre, Edad o ID de Película"
                    class="form-control">
                <input type="submit" value="Buscar" class="btn btn-primary">
            </div>
        </form>
    </div>

    <div class="container">
        <div>
            <h1 th:text="${titulo}" class="text-primary"></h1>
            <p>
                <a th:href="@{/characters-form}" class="btn btn-primary">Crear Personaje</a>
            </p>
        </div>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th> Imagen </th>
                    <th> Nombre </th>
                    <th class="d-flex justify-content-end"> Detalles / Editar / Eliminar </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="personaje: ${personajes}">
                    <td th:text="${personaje.id}"></td>
                    <td th:text="${personaje.nombre}"></td>
                    <td class="d-flex justify-content-end gap-2">
                        <a th:href="@{/character-details/} + ${personaje.id}" class="btn btn-secondary btn-xs"> Detalles
                        </a>
                        <a th:href="@{/characters-form/} + ${personaje.id}" class="btn btn-primary btn-xs"> Editar </a>
                        <a th:href="@{/delete-characters/} + ${personaje.id}" class="btn btn-danger btn-xs"
                            onclick="return confirm('¿Estás seguro que querés eliminar esta Pelicula?')"> Eliminar </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer th:replace="layouts/layout.html :: footer"></footer>
</body>

</html>