<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/layout.html :: head"></head>

<body>
    <header th:replace="layouts/layout.html :: header"></header>

    <div class="container">
        <h1 th:text="${titulo}" class="text-primary"></h1>
        <p>
            <a th:href="@{/characters-form}" class="btn btn-primary">Crear Personaje</a>
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> id </th>
                    <th> Nombre </th>
                    <th> Edad </th>
                    <th> Peso </th>
                    <th> Historia </th>
                    <th> Peliculas </th>
                    <th class="d-flex justify-content-end"> Editar / Eliminar </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="personaje: ${personajes}">
                    <td th:text="${personaje.id}"></td>
                    <td th:text="${personaje.nombre}"></td>
                    <td th:text="${personaje.edad}"></td>
                    <td th:text="${personaje.peso}"></td>
                    <td th:text="${personaje.historia}"></td>
                    <td>
                        <span th:each="peli: ${personaje.peliculas}">
                            <b th:text=" '(' + ${peli.titulo} + '). ' "></b>
                        </span>   
                    </td>
                    <td class="d-flex justify-content-end gap-2">
                        <a th:href="@{/characters-form/} + ${personaje.id}" class="btn btn-primary btn-xs"> Editar </a>
                        <a th:href="@{/delete-characters/} + ${personaje.id}" class="btn btn-danger btn-xs"
                            onclick="return confirm('¿Estás seguro que querés eliminar este Personaje?')"> Eliminar </a>
                    </td>
                </tr>
            </tbody> 
        </table>
    </div>

    <footer th:replace="layouts/layout.html :: footer"></footer>
</body>

</html>