<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout.html :: head"></head>
<body>
    <header th:replace="layouts/layout.html :: header"></header>
    <div class="container">

        <h1 th:text="${titulo}" class="text-primary"></h1>      

        <form th:action="@{/genre-form}" th:object="${genero}" method="post">
         
            <div class="form-group row mb-3">
                <label class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" th:field="*{nombre}" class="form-control" th:errorclass="'form-control alert-danger'"/>
                    <small th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
                        class="form-text text-danger"></small>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-form-label col-sm-2">Asociar Peliculas</label>
                <div th:each="pelicula: ${peliculasAsociadas}" class="form-check-inline">
                    <input type="checkbox" th:field="*{peliculas}" th:value="${pelicula.id}" class="form-check-input" 
                    th:errorclass="'form-control alert-danger'">
                    <label th:for="${#ids.prev('peliculas')}" th:text="${pelicula.titulo}" 
                    class="form-check-label"></label>
                </div>
            </div>
        
            <div class="form-group row">
                <div class="col-sm-6">
                    <input type="submit" th:value="${botonSubmit}" class="btn btn-primary" />
                </div>
            </div>

        </form>
    </div>
    <footer th:replace="layouts/layout.html :: footer"></footer>

</body>

</html>