<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/layout.html :: head"></head>

<body>
    <header th:replace="layouts/layout.html :: header"></header>

    <div class="container">

        <h1 th:text="${titulo}" class="text-warning"></h1>

        <form th:action="@{/movies-form}" th:object="${pelicula}" method="post">

            <div class="form-group row mb-3">
                <label class="col-form-label col-sm-2">Titulo</label>
                <div class="col-sm-6">
                    <input type="text" th:field="*{titulo}" class="form-control"
                        th:errorclass="'form-control alert-danger'" />
                    <small th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"
                        class="form-text text-danger"></small>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-form-label col-sm-2">Calificacion</label>
                <div class="col-sm-6">
                    <input type="text" th:field="*{calificacion}" class="form-control"
                        th:errorclass="'form-control alert-danger'" />
                    <small th:if="${#fields.hasErrors('calificacion')}" th:errors="*{calificacion}"
                        class="form-text text-danger"></small>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-form-label col-sm-2">Fecha</label>
                <div class="col-sm-6">
                    <input type="text" th:field="*{createAt}" class="form-control"
                        th:errorclass="'form-control alert-danger'" />
                    <small th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"
                        class="form-text text-danger"></small>
                </div>
            </div>
            <!--
            <div class="form-group row mb-3">
                <label class="col-form-label col-sm-2">Asociar Personaje</label>
                <div th:each="pelicula: ${listarPersonajes}" class="form-check-inline">
                    <input type="checkbox" th:field="*{personajes}" th:value="${pelicula.id}" class="form-check-input" 
                    th:errorclass="'form-control alert-danger'">
                    <label th:for="${#ids.prev('personajes')}" th:text="${pelicula.nombre}" 
                    class="form-check-label"></label>
                </div>
            </div>
            -->
            <div class="form-group row">
                <div class="col-sm-6">
                    <input type="submit" th:value="${botonSubmit}" class="btn btn-warning" />
                </div>
            </div>


        </form>
    </div>

    <footer th:replace="layouts/layout.html :: footer"></footer>

</body>

</html>