<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/layout.html :: head"></head>

<body>
    <header th:replace="layouts/layout.html :: header"></header>

    <div class="container">
        <h1 th:text="${titulo}" class="text-success"></h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th> id </th>
                    <th> Titulo </th>
                    <th> Fecha </th>
                    <th> Calificacion </th>
                    <th> Personajes Asociados </th>
                    <th class="d-flex justify-content-end"> Editar / Eliminar </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${id}"></td>
                    <td th:text="${nombre}"></td>
                    <td th:text="${createAt}"></td>
                    <td th:text="${calificacion}"></td>
                    <td>
                        <span th:each="per: ${personajes}">
                            <span th:text=" '(' + ${per.nombre} + '). ' "></span>
                        </span>
                    </td>
                    <td class="d-flex justify-content-end gap-2"> 
                        <a th:href="@{/movies-form/} + ${id}" class="btn btn-success btn-xs"> Editar </a>
                        <a th:href="@{/delete-movie/} + ${id}" class="btn btn-danger btn-xs"
                            onclick="return confirm('¿Estás seguro que querés eliminar esta Pelicula?')"> Eliminar </a>
                    </td>

                </tr>
            </tbody>
        </table>

    </div>

    <footer th:replace="layouts/layout.html :: footer"></footer>

</body>

</html>